body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container {
    padding: 20px;
}

#crearTareaPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#editarTareaPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.tarea-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.tarea-item button {
    margin-left: 10px;
}

.filtros {
    margin-bottom: 20px;
}

.filtros select {
    margin-right: 10px;
}